[Unit]
Description=TUI display manager using KMSCON
After=systemd-user-sessions.service plymouth-quit-wait.service
After=kmsconvt@%i.service
Conflicts=kmsconvt@%i.service

[Service]
ExecStart=/usr/bin/kmscon --term=linux --font-engine unifont --vt=%I --login -- /usr/bin/ly-dm --use-kmscon-vt
StandardInput=tty
UtmpIdentifier=%I
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
