
// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules

// Default floating windows
window-rule {
	// Open the Firefox picture-in-picture player as floating by default.
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	match app-id=r#"^blueman-manager$"#
    open-floating true
    // match app-id="zoom"
    // match app-id=r#"^org\.gnome\.Calculator$"#
    // match app-id=r#"^gnome-calculator$"#
    // match app-id=r#"^galculator$"#
    // match app-id=r#"^org\.gnome\.Nautilus$"#
    // match app-id=r#"^xdg-desktop-portal$"#
}

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

window-rule {
	match app-id=r#"^org\.gnome\."#
    match app-id="Alacritty"
    draw-border-with-background false
}

/////////// Noctalia ///////////

// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

/////////// Noctalia ///////////

// window-rule {
//     match is-active=false
//     opacity 0.9
// }

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

